* { 
  margin: 0; 
  padding: 0; 
  font-family: "helvetica neue", "Oxygen", sans-serif;
}

section {
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
	  background-repeat: no-repeat;
 	  background-attachment: fixed;
}

section:first-of-type h1 {
  color: #fff;
  text-align: center;
  font-size: 8vw;
  position: absolute;
  bottom: 12%;
  right: 8%;
  left: 8%;
}

section:nth-of-type(1){
  background-image: url(../images/app.jpg);
}

section:nth-of-type(2){
  font-size: 2rem;
  background: #fff;
}

section:nth-of-type(3){
  background-image: url(../images/lightfireback.jpg);
  font-size: 2rem;
  color: #fff;
}


section:nth-of-type(4){
  background-image: url(../images/radarback.jpg);
  font-size: 2rem;
  color: #fff;
}

section:nth-of-type(5) {
  background-image: url(../images/sunbeamback.jpg);
  font-size: 2rem;
  color: #fff;
}

.desc {
  width: 50%;
}

.parent h1 {
  margin-bottom: 15px;
}

section:last-of-type {
  text-align: center;
  color: #000;
}

section:last-of-type h1 {
  font-size: 3rem;
  margin-top: 200px;
}

section:last-of-type a:link, a:visited {
    color: #fff;
}

.fa-facebook-square:hover {
  color: #3b5998;
}


.fa-twitter-square:hover {
  color: #55ACEE;
}

.fa-pinterest-square:hover {
  color: #bd081c;
}

.parent-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.child-row {
  margin: auto;
  text-align: center;
  padding-top: 17%;
}

.parent {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
}

.child {
	margin: auto;
  text-align: center;
}

.hidden {
  display: none;
  visibility: hidden;
}

header, header a {
	display: inline;
}

#top-bar {
	background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    );
    height: 80px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.menu-button {
  visibility: hidden;
}

nav {
	text-align: right;
	display: inline;
}

.menu {
	width: 50%;
	float: right;
	padding-top: 30px;
	margin-right: 12%;
}

.menu li {
	float: right;
	display: inline;
	width: 25%;
	font-size: 20px;
}

a { text-decoration: none; }


ul a:link {
    color: #b8b8b8;
}

ul a:visited {
  color: #b8b8b8;
}

ul a:hover {
    color: #727272;
}

.icons {
  letter-spacing: 5px;
}

.fixed {
    position: fixed;
    top: 10px;
    left: 12%;
}

iframe, .fb-like, .fb-like span {
  width:200px !important;
  height:50px !important; 
}

@media screen and (max-width: 600px) {
    .hid {
        visibility: hidden;
    }

    .fixed {
      width: 50px;
      height: 46px;
    }
    
    .parent {
        flex-direction: column;
    }

    .desc {
      width: 100%;
    }

    .child {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    .menu-button {
      position: fixed;
      top: 18px;
      right: 12%;
      visibility: visible;
      color: #b8b8b8;
      cursor: pointer;
    }

    .menu-button:hover > ul {
      display: block;
    }

    section:nth-of-type(4) div{
     width: auto;
    }

    .menu-button ul {
      display: none;
      list-style-type: none;
      position: relative;
      top: 17px;
      left: 12%;
    }

    .menu-button ul li {
      background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
      );      
      padding-top: 15px;
      padding-bottom: 15px;
      width: 100vw;
      text-align: center;
      font-size: 24px;
    }

    .menu {
      visibility: hidden;
    }

    #top-bar {
      height: 67px;
    }
}


/* Animation CSS */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

